body {
  background-color: #2E282A;
  font-family: 'Rubik', 'sans-serif';
  color: #17BEBB;
  text-align: center;
}

h1 {
  margin: 30px;
  font-size: 5rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

img {
  width: 100%;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.copyright {
  margin-top: 5%;
  font-size: 1rem;
}